$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 @mixin mm {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
 }
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }
.navbar{
    height:60px;
    background-color: rgb(41, 41, 41);
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    position:fixed;
    width:100%;
    z-index: 15;
    @include mm{
        display: block;
        text-align: right;
        
    }
    &__menulogo{
        z-index: 10;
        @include md{
            display:none;
        }
        @include mm{
            padding-top:0.7rem;
            padding-right: 2rem;
            
        }
        
    }
    &__links{
        display:flex;
        list-style: none;
        height:100%;
        width:50%;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        
        li div{
            color:white;
            text-decoration: none;
            font-size: 20px;
            
        }
        li div:hover{
            cursor:pointer;
            color: rgb(255, 182, 51);
        }
        @include mm{
            position: fixed;
            background-color: rgb(47, 47, 47);
            height:100vh;
            width:100%;
            flex-direction: column;
            clip-path: circle(100px at 90% -10%);
            -webkit-clip-path:circle(100px at 90% -10%);
            transition: all 1s ease-out;
            z-index: 2;
            
        }
    }
    &__links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        @include mm{
            clip-path: circle(1000px at 90% -10%);
            -webkit-clip-path: circle(1000px at 90% -10%);
        }
    }
    
}
nav{
    position: relative;
}