@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }
.projects{
    padding-top:60px;
    // padding: 15% 5% 10% 5%;
    padding-left:2rem;
    padding-right:2rem;
    &__container{
        
        &__title{
            font-size: 1.8rem;
            color: rgb(247, 247, 247);
            text-align: center;
            display: table;
            position: relative;
            margin: 0px auto 72px;
                margin-top: 0px;
            font-weight: bold;
            
            h2::before{
                bottom: 20px;
                left: -11px;
                content: "";
                display: block;
                position: absolute;
                background: rgb(255, 182, 51) none repeat scroll 0% 0%;
                width: 80%;
                height: 3px;
                border-radius: 50px;
                transition: left 0.5s ease-in-out 0s, right 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s;
                opacity: 1;
            }
            h2::after{
                content: "";
                bottom: 6px;
                right: -12px;
                display: block;
                position: absolute;
                background: rgb(255, 182, 51) none repeat scroll 0% 0%;
                width: 80%;
                height: 3px;
                border-radius: 50px;
                transition: left 0.5s ease-in-out 0s, right 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s;
                opacity: 1;
            }
        }
        &__elements{
            display:flex;
            justify-content: center;
            flex-wrap:wrap;
        }
        // &__elements{
        //     display:flex;
        //     flex-wrap: wrap;
        //     justify-content: center;
        //     margin-bottom:2rem;
        // }
        &__element{
            width: 100%;
            height:100%;
            overflow:hidden;
            border: 4px solid rgb(255, 182, 51);
            margin-bottom:2rem;
            min-width: 300px;
            max-width: 400px;
            min-height: 550px;
            display: flex;
            flex-direction: column;
            @include md{
                margin-right:2rem;
            }
            
            &__title{
                font-size:1.8rem;
                font-weight: 700;
                padding:1rem;
                border-bottom:2px solid white;
                background-color:#272727;
                font-family: 'Zen Dots', cursive;
            }
            
            &__image{
                display:flex;
                width:100%;
                height:215px;
                overflow:hidden;

                &--img{
                    overflow:hidden;
                    transition: transform 0.5s linear;
                }
                &--img:hover{
                    transform:scale(1.1);
                }
                img{
                    transition: transform 0.5s linear;
                    width: 100%;
                    height: 100%;
                }
            }
            &__description{
                display: flex;
                justify-content: center;
                padding:1rem;
                text-align: center;
                background-color:white;
                color: #272727;
                font-weight: 600;
                flex:1;
                align-items: center;
                
            }
            
            &__buttons{
                &__livebutton:hover{
                    cursor:pointer;
                }
                &__livebutton{
                    // background-color:#272727;
                    background: none;
                    border-top:2px solid white;
                    font-size:1.3rem;
                    padding:0.7rem;
                    font-weight: 600;
                    transition: 0.8s;
                    position: relative;
                    overflow: hidden;
                }
                &__livebutton::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height:0%;
                    background: rgb(255, 182, 51);
                    z-index:-1;
                    transition: 0.8s;
                    top:0;
                    border-radius: 0 0 50% 50%;
                }
                &__livebutton:hover::before{
                    height: 180%;
                }
                &__githubbutton:hover{
                    cursor:pointer;
                }
                &__githubbutton::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height:0%;
                    background: rgb(255, 182, 51);
                    z-index:-1;
                    transition: 0.8s;
                    top:0;
                    border-radius: 0 0 50% 50%;
                }
                &__githubbutton:hover::before{
                    height: 180%;
                }
                &__githubbutton{
                    background: none;
                    border-top:2px solid white;
                    font-size:1.3rem;
                    padding:0.7rem;
                    font-weight: 600;
                    transition: 0.8s;
                    position: relative;
                    overflow: hidden;
                    img{

                        width: 23px;
                    }
                }
                
            }
    }
}
    
}